
<div class="about-home-section">
    
  <div class="container">
      <div class="main-home-product">
          <div id="main-product-slider">
              <div class="col-md-8 col-md-offset-2">
                  <div class="main-product-slider-box-inner clearfix">
                      <h3 class="title">Selected Item({{id}})</h3>
                      <form class="add-list" [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)" [hidden]='addform'>
                            <div *ngIf="existval" class="alert alert-danger">
                                    <strong>{{ itemForm.get('item').value }}</strong> already exists.
                            </div>
                          <input type="text" placeholder="Add Product" formControlName="product" (keyup)="checkExist()" >
                          <div *ngIf="!productForm.get('product').hasError('required')" class="alert alert-success">
                                <p>Your choosen name: {{ productForm.get('product').value }}</p>
                            </div>
                            <div *ngIf="productForm.invalid &&(productForm.touched || productForm.dirty)" class="alert alert-danger">
                              Please enter characters
                              
                            </div>
                            <div *ngIf="productForm.get('product').hasError('minlength')" class="alert alert-danger">
                            Please provide atleast 4 character
                            </div>
                            <div *ngIf="productForm.get('product').hasError('maxlength')" class="alert alert-danger">
                                Please enter 30 character 
                             </div>
                           
                          <input type="submit" name="submit" value="Add Product" [disabled]="productForm.invalid">
                           
                        </form>
                        <form class="add-list" [formGroup]="productForm" (ngSubmit)="OnEdit(productForm)" [hidden]='editform'>
                            <div *ngIf="existval" class="alert alert-danger">
                                    <strong>{{ itemForm.get('item').value }}</strong> already exists.
                            </div>
                          <input type="text" placeholder="Update Product" formControlName="product" (keyup)="checkExist()" >
                          <input type="hidden" name="olditem"  formControlName="product" >
                          <div *ngIf="productForm.controls.product.hasError('required')">
                            This field is required.
                            </div>
                            <div *ngIf="productForm.controls.product.hasError('minlength')">
                                    Enter atleast 4 characters.
                            </div>
                           <div *ngIf="productForm.controls.product.hasError('maxlength')">
                                    Enter maximum upto 30 characters
                            </div>
                           
                          <input type="submit" name="submit" value="Update Product" [disabled]="productForm.invalid">
                           
                        </form>
                  </div>
              </div>
              <div class="col-md-8 col-md-offset-2">
                <h3 class="title">Product List</h3>
                <ul class="list-content" >
                    <li *ngFor='let newlist of list | paginate: { itemsPerPage: 10, currentPage: p }'>{{newlist}}
                      <span class="action">
                          <a class="btn btn-primary a-btn-slide-text remove" (click)="delete(newlist)">
                              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                          </a>
                          <a class="btn btn-primary a-btn-slide-text edit" (click)="edit(newlist)">
                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                          </a>
                      </span>
                  </li>
                </ul>
                <pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
                <div class="alert alert-danger" *ngIf="list.length ==0"> No product found </div>



            </div>
        </div>
    

        </div>

    </div>
    </div>



